body{
    margin:0;
    min-height: 100vh;
    position:relative;
    font-family: 'SkModernist'
    
}

@font-face{
    font-family: 'SkModernist';
    src: url('/Assets/Sk-Modernist-Regular.otf') format('opentype');
}

@media (max-width: 600px) {
  body::before,
  body::after {
    display: none;
  }
}

.bgIMG{
    background-image: url("/Assets/space.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

#app{
    max-width:85%;
    margin:0 auto;
    padding:24px;
    color: #000000;
    text-align: center;
    font-weight: 300;
    font-size: medium;
}

.apod-title{
    color: #ffffff;
    width:70%;
    margin: 8px auto;
    background-color: rgb(0, 128, 255);
    border: 3px solid #000000;
    border-radius: 12px;
    padding: 12px 16px;
    text-align: center;
}

.apod-explanation{
    color: #e6e6e6;
    line-height: 1.6;
    text-align: left;
    max-width:85%;
    padding:16px;
    margin: 12px auto;
    background-color: rgb(0, 128, 255);
    border: 3px solid #000000;
    border-radius: 12px;
}

img, video, iframe{
    max-width:85%;
    height:auto;
    display:block;
    margin: 12px auto;
    background-color: rgb(0, 128, 255);
    border: 3px solid #000000;
    border-radius: 12px;
}

.video-wrapper{
    width:100%;
    max-width:900px;
    margin: 12px auto;
    aspect-ratio: 16/9;
}

.video-wrapper iframe{ width:100%; height:100%; }

    .apod-controls{
        display:flex;
        gap:12px;
        justify-content:center;
        align-items:center;
        margin: 0 auto 16px;
        z-index: 2;
        position: relative;
        max-width: 480px; 
    }

.apod-controls > *{
    flex: 1 1 0;
    min-width: 0; 
    box-sizing: border-box;
    text-align: center;
}


.apod-date{
    color: #fff;
    background: rgba(222, 41, 41, 0.3);
    padding: 10px 12px;
    border-radius: 6px;
    font-weight:600;
    border: 2px solid #000000;
}


.random-btn{
    font-family: 'SkModernist';
    background: rgba(222, 41, 41, 0.3);
    cursor: pointer;
    padding: 10px 12px;
    color: #fff;
    font-size: medium;
    border-radius: 6px;
    font-weight:600;
    border: 2px solid #000000;
    display:flex;
    align-items:center;
    justify-content:center;
}

.random-btn:hover{ opacity: 0.8; }
